<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".EditCustomer"
            android:exported="false" />
        <activity
            android:name=".UpdateEnquire"
            android:exported="false" />
        <activity
            android:name=".UpdateItemACtivity"
            android:exported="false" />
        <activity
            android:name=".UpdateSaleItem"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AddEnquire"
            android:exported="false" />
        <activity
            android:name=".EnquiryListing"
            android:exported="false" />
        <activity
            android:name=".CustomertListing"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddItemReturnActivty"
            android:exported="false" />
        <activity
            android:name=".AddItemSaleActivity"
            android:exported="false" />
        <activity
            android:name=".ReturnActivity"
            android:exported="false" />
        <activity
            android:name=".SaleActivity"
            android:exported="false" />
        <activity
            android:name=".ReceivedDeatilsActivity"
            android:exported="false" />
        <activity
            android:name=".StockReturnDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SaleDeatilsActivity"
            android:exported="false" />
        <activity
            android:name=".ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerDeatils"
            android:exported="false" />
        <activity
            android:name=".StockDetails"
            android:exported="false" />
        <activity
            android:name=".AddCustomer"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>